/* STYLING FOR ALL FORMS (SIGN UP/LOGIN) */
form {
  width: 80%;
  max-width: 350px;
  display: flex;
  align-self: center;
  height: fit-content;
  flex-wrap: wrap;
  border: 1px solid #1e1e1e;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 50px;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  padding: 20px;
  height: 100%;
}

form input {
  font-family: 'Nunito', sans-serif;
  padding: 0 10px;
  border: 1px solid #1e1e1e;;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  margin-bottom: 15px;
}

input[type=text], input[type=password], input[type=fname]{
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

button {
  background-color: #fc5f5f;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.register {
  color: #ff0000;
}

.doctors, .medoffice {
  color: #636363;
}
.register a:hover {
  opacity: 0.6;
  cursor: pointer;
}