.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logout-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c0392b;
}
