/* Style for the user profile section */
.common-field {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .common-field h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .common-field h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .common-field p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  /* Style for the doctor profile section */
  .doctor-info {
    background-color: #e5f5fc;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .doctor-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style for the medical office profile section */
  .medical-office-info {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .medical-office-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  