
.search-container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

input[type="text"] {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #5fcfd9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #479da5;
}

table {
  margin: 20px auto 0;
  width: 80%;
  border-collapse: collapse;
  padding: 8px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
}

.search-form {
  width: 80%;
  max-width: 400px;
  display: flex;
  align-self: center;
  height: fit-content;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 50px;
}

.message-form {
  overflow-wrap: break-word;
}

h3 {
  font-size: 15px;
  position: relative;
  text-align: left;
  margin-left: calc((100% - 80%) / 2); 
}

button[type="join"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="join"]:hover {
  background-color: #3e8e41;
}

